body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: darkslategrey;
}

.cabecera{
    background-image: url(../img/househome.jpg);
    height: 200px;
    width: 1335px;
    margin-bottom: 5px;
}

.titulo{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-right: 175px;
    font-size: 40px;
    text-align: center;
    color:white;
}

.separadorarriba{
    padding: 35px 0px 35px 0px;    
}

.menu{
    float: left;
    background-color: cornflowerblue;
    margin: 25px 10px 10px 10px;
    width: 300px;
    height: 500px;
}

.titulomenu{
    text-align: center;
    color: #9b0b09;
}

.enlaces{
    margin: 25px 10px 10px 10px;
}

.contenido2{
    overflow: auto;
    background-color: white;
    margin: 0px 40px 0px 40px;
}

.titulos{
    text-align: center;
    font-size: 35px;
    font-family: Verdana;
    margin: 0px;
}

.tituloflotante{
    float: right;
    margin-right: 15px;
}

.parrafoflotante{
    float: right;
    width: 68%;
    margin-right: 15px;
    text-align: justify;
    font-family: 'Courier'; 
}

.parrafo
{
    margin: 0px 25px 0px 25px;
    text-align: justify;
    font-family: 'Courier';  
}

.sangria {
    margin-left: 30px;
}

.imagen{
    margin: 25px 500px 25px 500px;
}

.lista{
    margin: 10px 0px 0px 20px;
    color: blue;
    font-style: oblique;
}

.citas{
    margin: 10px 0px 10px 20px;
    color:green;
    font-style: inherit;
}

.subtitulos{
    font-size: 25px;
    margin: 15px 0px 25px 75px;
    color:#e78434;

}

.parrafosecundario
{
    margin: 0px 55px 15px 75px;
    text-align: justify;
    font-family: 'Courier';  
}

.parraforesaltado{
    margin: 25px 120px 25px 120px;
    text-align: justify;
    font-family: 'Courier';
    font-size: 13px;
    font-style: italic;
}

.subcontenido{
    color: #c5221f;
    font-size: 35px;
    font-family: Verdana;
    margin: 30px 0px 10px 30px;
}

.contenidonormal
{
    background-color: white;
    margin: 20px 40px 50px 40px;
}

.imagencuento{
    height: 500px;
    width: 1270px;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.ima{
    height: 300px;
    width: 500px;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}